* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}        
h1 {
    font-size: 2rem;
    font-weight: 100;
}
header {
    text-align: center;
}
header span {
    margin-bottom: 80px;
    font-size: 30px;
}
nav {
    background-color: rgb(11, 51, 11);
    border-radius: 20px;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
}
.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(255,255,255, 0.2);
}
nav .active {
background-color: rgba(0,0,0,0.3);
}
.open a {
	display: block;
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}
.parent section {
    border: 1px solid rgb(24, 38, 24);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}
.parent h2 {
    color: #fff;
    background-color: rgb(11, 51, 11);
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.parent p{
    padding: 10px;
}
.card li {
    padding: 1rem;
}
footer {
    background-color: rgb(11, 51, 11);
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}
.hero picture {
    width: 100%;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero {
    position: relative;
}
.hero span {
    position: absolute;
    bottom: 40%;
    left: 20%;
    width: 30%;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
}
.map-container {
    position: relative; /* Positions the iframe absolutely relative to this container */
    padding-bottom: 56.25%; /* Aspect ratio padding hack (16:9 aspect ratio) */
    height: 0; /* Height controlled by padding for the aspect ratio */
    width: 100%; /* Container takes 90% width of parent */
    margin: 1rem;
    border: 1px solid black;
}

#map {
    box-sizing: border-box; /* Border included in width and height */
    position: absolute; /* Absolute positioning relative to .map-container */
    top: 0;
    left: 0;
    width: 100%; /* iframe takes full width of .map-container */
    height: 100%; /* iframe takes full height of .map-container */
    border: none;
}
